* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.test {
  -moz-transform: skew(25deg, 10deg);
  -o-transform: skew(25deg, 10deg);
  -ms-transform: skew(25deg, 10deg);
  -webkit-transform: skew(25deg, 10deg);
  transform: skew(25deg, 10deg);
  moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20, 20, 20, 0.5); }

* {
  margin: 0;
  padding: 0; }

html, body {
  background-color: #D1D1D1;
  color: #393441;
  width: 100%;
  height: 100%;
  margin: 0; }
  html a, html a:focus, html a:visited, body a, body a:focus, body a:visited {
    color: #DB914C;
    text-decoration: none; }
    html a:hover, html a:focus:hover, html a:visited:hover, body a:hover, body a:focus:hover, body a:visited:hover {
      color: #a15e20;
      text-decoration: underline; }

.nexus5 {
  height: 500px !important;
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg); }

.parallax {
  background: url("../img/fancy_library_red.png") no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px; }
  .parallax h1, .parallax h3 {
    text-align: center;
    color: white;
    padding: 10px;
    text-shadow: #393441 1px 2px; }
  .parallax img {
    margin: 0 auto;
    display: block; }

.wrapper {
  margin: 0 auto;
  padding: 40px 0px;
  max-width: 1000px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 500px) {
    .wrapper {
      margin-bottom: 100px; } }

.bennies, .action-image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .bennies:last-child, .action-image:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .bennies, .action-image {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 73.14426%; }
      .bennies:last-child, .action-image:last-child {
        margin-right: 0; } }

.action-image img {
  float: right;
  border: 5px solid #EDE5DD; }
  @media screen and (max-width: 500px) {
    .action-image img {
      float: none;
      width: 300px;
      height: auto;
      margin-top: 20px; } }

.benny {
  padding-top: 0;
  padding: 10px 10px;
  margin-top: 20px;
  font-size: 22px; }
  .benny .icon {
    background: #EDE5DD no-repeat fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    margin-right: 10px; }
    .benny .icon img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      margin: 0; }

.wrap-wide {
  background: #C75A38;
  height: 500px;
  padding: 60px 0px; }
  @media screen and (max-width: 500px) {
    .wrap-wide {
      margin-top: 160px;
      height: 0px; } }

.right-stick {
  background: #EDE5DD;
  max-width: 900px;
  float: right;
  padding-right: 20em;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px; }
  .right-stick .right-content {
    width: 600px; }
    @media screen and (max-width: 500px) {
      .right-stick .right-content {
        width: 100%; } }
  .right-stick .action-image {
    border: 5px solid #D1D1D1;
    float: left;
    margin-right: 20px; }
    @media screen and (max-width: 500px) {
      .right-stick .action-image {
        float: none;
        display: block;
        margin-bottom: 20px; } }
  .right-stick .action-icon {
    width: 50px;
    height: 50px; }
  .right-stick .button {
    background: #21354D;
    padding: 10px;
    border-radius: 5px;
    display: inline-block; }
    .right-stick .button:hover {
      background: #406694; }
  @media screen and (max-width: 500px) {
    .right-stick {
      margin-top: 20px;
      padding-bottom: 40px;
      padding-right: 20px;
      float: none; } }

.site-footer {
  background: #807e74;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #EDE5DD; }
  .site-footer .wrap {
    max-width: 1000px;
    margin: 0 auto; }
    .site-footer .wrap img {
      float: left;
      padding-right: 20px; }
    @media screen and (max-width: 500px) {
      .site-footer .wrap {
        padding-left: 20px;
        padding-top: 20px; } }
  @media screen and (max-width: 500px) {
    .site-footer {
      margin-top: 180px;
      padding-top: 80px; } }

@media screen and (max-width: 500px) {
  .spacer {
    display: none; } }

.nav {
  background: #21354D;
  text-align: center;
  font-size: 22px;
  padding: 20px 0px; }
  .nav a {
    padding: 20px; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px; }
  .wrapper p {
    margin: 20px;
    line-height: 22px; }
  .wrapper table {
    background: #EDE5DD;
    padding: 20px; }
    .wrapper table th {
      padding-bottom: 10px; }
    .wrapper table td {
      padding: 10px; }
    .wrapper table tr:nth-child(even) {
      background: #dbccbc; }

/*# sourceMappingURL=main.css.map */
