

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
   var u="//www.thehoick.com/piwik/";
   _paq.push(['setTrackerUrl', u+'piwik.php']);
   _paq.push(['setSiteId', 3]);
   var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
   g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
   })();
</script>
<noscript><p><img src="//www.thehoick.com/piwik/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<footer class="site-footer">

  <div class="wrap">
        
    <img src="/img/stack_logo.svg" alt="" height="" border="0" width="75" />
    Brought to you by <a href="http://thehoick.com">The Hoick...</a>
    </br>
    &copy; <script>document.write(new Date().getFullYear())</script>

  </div>

</footer>
