<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
     var u="//www.thehoick.com/piwik/";
     _paq.push(['setTrackerUrl', u+'piwik.php']);
     _paq.push(['setSiteId', 1]);
     var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
     g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
     })();
  </script>
  <noscript><p><img src="//www.thehoick.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
    <div class="parallax">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <img src="/img/stack_logo.svg" alt="" height="" border="0" width="75" />
      <br/>
      <h1>Evergreen FlixQ</h1>
      <h3>Find DVDs In Your Queue At The Library</h3>
    </div>

    <div class="nav">
      <a href="/">Home</a>
      &nbsp;&nbsp;
      <a href="/about">About</a>
      &nbsp;&nbsp;
      <a href="/help">Help</a>
    </div>

      {{ content }}
  </div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
